	// 时间戳转日期
	/**
	 * ${0:变量注释}
	 */
	const r$CURRENT_SECONDS_UNIX = await(() => {
		const p1 = $1;	// 时间戳
		const p2 = '${2|YYYY-MM-DD HH:mm:ss,YYYY-MM-DD,HH:mm:ss|}';	// 日期格式,https://momentjs.com/docs/#/parsing/string-format/
		return an9(p1, p2);
	})();